<h2 mat-dialog-title>Visualize algorithms</h2>
<mat-dialog-content class="mat-typography">
  <mat-tab-group backgroundColor="accent">
    <mat-tab label="A*">
      <mat-tab-group>
        <mat-tab label="A* in Java">
          <pre>{{ aStarJava }}</pre>
        </mat-tab>
        <mat-tab label="A* in JavaScript">
          <pre>{{ aStarJavaScript }}</pre>
        </mat-tab>
        <mat-tab label="A* in C++">
          <pre>{{ aStarCPlusPlus }}</pre>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab label="BFS">
      <mat-tab-group>
        <mat-tab label="BFS in Java"><pre>{{bfsJava}}</pre></mat-tab>
        <mat-tab label="BFS in JavaScript"><pre>{{bfsJavaScript}}</pre></mat-tab>
        <mat-tab label="BFS in C++"><pre>{{bfsCPlusPlus}}</pre></mat-tab> </mat-tab-group
    ></mat-tab>
    <mat-tab label="Dijkstra">
      <mat-tab-group>
        <mat-tab label="Dijkstra in Java"><pre>{{dijkstraJava}}</pre></mat-tab>
        <mat-tab label="Dijkstra in JavaScript"><pre>{{dijkstraCPlusPlus}}</pre></mat-tab>
        <mat-tab label="Dijkstra in C++"><pre>{{dijkstraJavascript}}</pre></mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
